.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 0 20px;
    margin-top: 40px;
}

.card-projects-dark, .card-projects-light {
    background-color: var(--background-button-primary-light);
    width: 100%;
    max-width: 384px;
    height: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-projects-dark {
    background-color: var(--background-container-about);
}

.card-projects-light {
    background-color: var(--background-button-primary-light);
}

.container-img-projeto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 14px;
}

.img-projeto {
    width: 100%;
    max-width: 336px;
    height: auto;
    border-radius: 8px;
}

.title-project-dark, .title-project-light {
    text-align: center;
    color: var(--color-text-primary-light);
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0 10px 0;
}

.title-project-dark {
    color: var(--color-text-primary);
}

.icons-project {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
}

.description-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.description-project-dark, .description-project-light {
    color: var(--color-text-primary-light);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0 20px;
}

.description-project-dark {
    color: var(--color-text-primary);
}

.container-button-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.button-projects-dark, .button-projects-light {
    width: 128px;
    height: 35px;
    background-color: var(--background-color-light);
    color: var(--color-text-primary-light);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-projects-dark {
    background-color: var(--background-button-primary);
    color: var(--color-text-primary);
}

.links-projects-dark, .links-projects-light {
    color: var(--color-text-primary-light);
    font-size: 16px;
    font-weight: 500;
}

.links-projects-dark {
    color: var(--color-text-primary);
}

@media screen and (max-width: 767px) {
    .projects-container {
        flex-direction: column;
    }
}
