.projects {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 72px;
}

.projects .title-projects-dark {
    text-align: center;
    font-size: 18px;
    color: var(--background-button-primary);
    font-weight: 700;
}

.projects .title-projects-light {
    text-align: center;
    font-size: 18px;
    color: var(--background-button-primary-light);
    font-weight: 700;
}

.projects .text-projects-dark {
    font-size: 24px;
    text-align: center;
    color: var(--color-text-primary);
    font-weight: 700;
    margin-top: 8px;
}

.projects .text-projects-light {
    font-size: 24px;
    text-align: center;
    color: var(--color-text-primary-light);
    font-weight: 700;
    margin-top: 8px;
}

