.inicio {
    margin-top: 265px;
    display: flex;
    justify-content: space-evenly;

}

.inicio-container {

}

.titulo-inicio {
    color: #D9D9D9;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.foto img {
    width: 349px;
    height: 349px;
    border-radius: 230px;
    border: 9px solid #D9D9D9;
}