.nav-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 12px;
    background-color: var(--background-color-light);
    box-shadow: 2px 2px 2px 0 var(--background-button-primary-light);
    border-bottom: 2px solid var(--background-button-primary-light);
}

.nav-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: var(--background-color);
    box-shadow: 2px 2px 2px 0 #0c0a09;
    border-bottom: 2px solid #0c0a09;
    border-radius: 12px;

}

header h3 {
    color: var(--background-button-primary);
    font-size: 24px;
    font-weight: 500;

}

header button {
    background-color: transparent;
    border: none;
}

.menu {
    display: none;
}

.links-web {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}


.link-inicio {
    font-size: 16px;
    font-weight: 700;
    color: var(--background-button-primary);
    text-decoration: none;
}


.links-light {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-primary-light);
    text-decoration: none;
}

.links-dark:hover {
    color: var(--background-button-primary);
}

.links-light:hover {
    color: var(--background-button-primary);
}

header h3 {
    color: var(--background-button-primary);
    font-size: 24px;
    font-weight: 500;

}

header button {
    background-color: transparent;
    border: none;
}

.menu {
    display: none;
}

.links-web {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
}

.list-mobile {
    background-color: var(--background-container-about);
    color: var(--color-text-primary);
    width: 280px;
    height: 736px;
    position: absolute;
    right: 0;
    top: 60px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    font-size: 16px;
    z-index: 1000;
}

.list-mobile li {
    margin-top: 12px;
}

.list-mobile a {
    text-decoration: none;
}

.list-mobile a:hover {
    color: var(--background-button-primary);
}


.toggle-mode {
    background-color: var(--background-button-primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: none;
}


.links-mobile {
    color: var(--color-text-primary);
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    font-size: 16px;
    flex: end;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    border-top: 1px solid var(--color-text-secundary);
}

.toggle button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}


.btn-dark-mode {
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.links-dark {
    color: var(--color-text-primary);
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    font-size: 16px;
    flex: end;
}

.links-light {
    color: var(--color-text-primary-light);
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    font-size: 16px;
    flex: end;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    border-top: 1px solid var(--color-text-secundary);
}

.toggle button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}

.menu-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


@media screen and (max-width: 767px) {
    header {
        display: block;
    }

    .nav-dark {
        width: 100%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-light {
        width: 100%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .links-web {
        display: none;
    }

    .list-mobile {
        display: block;
    }

    .menu {
        display: flex;
    }


    .links-dark-mobile {
        color: var(--color-text-primary);
        font-weight: 700;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 24px;
        font-size: 16px;
        flex: end;
    }

    .links-dark-mobile:hover {
        color: var(--background-button-primary);
    }

    .links-light-mobile {
        color: var(--color-text-primary-light);
        font-weight: 700;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 24px;
        font-size: 16px;
        flex: end;
    }

    .links-light-mobile:hover {
        color: var(--background-color-light);
    }

}